<script>
    addEventListener("load", function() {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
</script>

<!-- main -->
<div class="w3layouts-main">
    <div class="bg-layer">
        <mat-icon routerLink="/login" class="pointer">keyboard_arrow_left</mat-icon>

        <h1>Reset Password</h1>
        <div class="header-main">
            <form (ngSubmit)="onSubmit()" [formGroup]="resetForm">
                <div class="main-icon">
                    <span class="fa fa-graduation-cap" aria-hidden="true"></span>
                </div>
                <div *ngIf="error" class="alert alert-danger signin-error">{{error}}</div>
                <div class="header-left-bottom">

                    <div class="icon1">
                        <span class="fa fa-user"></span>
                        <input type="email" placeholder="Email Address" required="" formControlName="username" [ngClass]="{ 'is-invalid': submitted && form.username.errors }" />
                    </div>
                    <div *ngIf="submitted && form.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>                  
                    <div class="bottom">
                        <button class="btn">Reset</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- copyright -->
        <div class="copyright">
            <p>© 2019 Eps . All rights reserved
            </p>
        </div>
        <!-- //copyright -->
    </div>
</div>
<!-- //main -->