<div fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-between stretch">

    <div fxFlex="22" class="left-column-container">
        <div class="profile-card">
            <div class="profile-card-header d-flex ">
                <a href="/profile/edmodo-teacher-e15a0c370e-edmo/?utm_source=profile_card" class="href-profil">
                    <img class=" img-profil" src="assets/images/avatars/profile.jpg" alt="Zayneb Hamila">
                </a>
                <mat-divider class="divider"></mat-divider>
            </div>
            <div class="profile-card-header">
                <span class="profile-header-text">zaynab Hamila</span>
                <a href="#">voir le profil</a>
            </div>
        </div>

        <div class="navigation-list-container">
            <div class="navigation-list-header">
                <span class="navigation-list-title">Classes</span>
                <mat-icon>more_horiz</mat-icon>
            </div>

            <div class="navigation-list list-group">
                <li class="list-group-item" class="nav-link">
                    <a class="navigation-list-item" href="/groups/dsi-28607677">
                        <span class="circle"></span>
                        <span style="margin: 0px 0.5rem;">DSI</span>
                    </a>
                </li>
                <li class="list-group-item" class="nav-link">
                    <a class="navigation-list-item qa-test-navigation-list-item-class" href="/groups/zayneb-hamilas-classe-28607571">
                        <span class="green-circle"></span>
                        <span style="margin: 0px 0.5rem;">Zayneb Hamila's Classe</span></a>
                </li>
            </div>
        </div>

        <div class="navigation-list-container">
            <div class="navigation-list-header">
                <span class="navigation-list-title">Groups</span>
                <mat-icon>more_horiz</mat-icon>
            </div>

            <div class="navigation-list list-group">
                <li class="list-group-item" class="nav-link">
                    <a class="navigation-list-item" href="/groups/dsi-28607677">
                        <span class="circle"></span>
                        <span style="margin: 0px 0.5rem;">DSI</span>
                    </a>
                </li>
                <li class="list-group-item" class="nav-link">
                    <a class="navigation-list-item qa-test-navigation-list-item-class" href="/groups/zayneb-hamilas-classe-28607571">
                        <span class="green-circle"></span>
                        <span style="margin: 0px 0.5rem;">Zayneb Hamila's Classe</span></a>
                </li>
            </div>
        </div>
    </div>


    <div fxFlex="48" class="stream-container">

        <div class="unified-composer-container mb-3">
            <div class="input-text">
                <img class="message-avatar rounded" src="assets/images/avatars/profile.jpg" alt="Zayneb Hamila">
                <textarea cols="60" placeholder="Share an idea or resources" class="postbox-textarea"></textarea>

            </div>
            <mat-divider></mat-divider>
            <div class="footer" fxLayout="row" fxFlexFill fxLayoutAlign="space-between stretch">
                <div fxFlex="50">
                    <mat-icon>insert_photo</mat-icon>
                    <mat-icon>attach_file</mat-icon>
                </div>
                <div fxFlex="50">
                    <button mat-stroked-button color="primary" class="btn-post">Post</button>
                </div>
            </div>
        </div>

        <div>
            <mat-card class="example-card">
                <mat-card-header class="mat-card-header">
                    <div mat-card-avatar>
                        <img class="message-avatar rounded" src="assets/images/avatars/profile.jpg" alt="Zayneb Hamila">
                    </div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    </p>
                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions class="mat-card-action">
                    <button mat-button class="footer-card-btn">
                        <mat-icon class="footer-card-icon">thumb_up</mat-icon>
                        <span class="footer-card-btn-like">Like</span>
                    </button>
                    <button mat-button class="footer-card-btn">
                        <mat-icon class="footer-card-icon">insert_comment</mat-icon>
                        <span class="footer-card-btn-like">Comment</span>
                    </button>
                </mat-card-actions>
                <mat-divider></mat-divider>
                <mat-card-footer class="mat-card-footer">
                    <div class="footer-card-mat-card-avatar">
                        <img class="message-avatar rounded footer-card-comment-icon" src="assets/images/avatars/profile.jpg" alt="Zayneb Hamila">
                        <div class="mat-card-comment">
                            <textarea [value]="state.text" cols="60" class="mat-card-comment-input" matInput type="text" placeholder="your comment..."></textarea>
                            <emoji-mart [style]="{ position: 'absolute', bottom: '20px', right: '20px' }" (emojiClick)="addEmoji($event)" [hidden]="show"></emoji-mart>
                            <mat-icon class="mat-card-comment-emoj" (click)="show=!show">sentiment_satisfied_alt</mat-icon>
                            <mat-icon class="mat-card-comment-emoj">photo_camera</mat-icon>
                        </div>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>

    <div fxFlex="28" class="right-column-container">xxx</div>
</div>