<div fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-between stretch">

    <div fxFlex="22" class="left-column-container">
        <div class="profile-card">
            <div class="profile-card-header d-flex ">
                <a href="#" class="href-profil">
                    <img class=" img-profil" src="{{profilePictureLink}}" alt="eps">
                </a>
                <mat-divider class="divider"></mat-divider>
            </div>
            <div class="profile-card-header">
                <span class="profile-header-text">{{currentUser.firstName}} {{currentUser.lastName}}</span>
                <a href="#" class="profile-header-text-email">{{currentUser.email}}</a>
            </div>
        </div>

        <!--Educationnal Institution-->
        <div class="navigation-list-container">
            <div class="navigation-list-header">
                <span class="educationa-box-title">My Educationnal Institution</span>
            </div>
            <div class="navigation-list list-group">
                <li class="list-group-item" class="nav-link">
                    <mat-icon style="vertical-align: text-top;">school</mat-icon>
                    <span style="margin: 0px 0.5rem;">Iset Sousse</span>
                </li>
            </div>
            <div class="spiner" *ngIf="!isHiddenSpinner">
                <mat-spinner diameter="20" color="accent"></mat-spinner>
            </div>
        </div>



        <div class="navigation-list-container">
            <div class="navigation-list-header">
                <span class="navigation-list-title">My Classes</span>
                <mat-select #select class="select" style="visibility:hidden">
                    <mat-option (click)="openDialog('createClass')" *ngIf="isProfessor">
                        <mat-icon style="vertical-align: text-top;">add </mat-icon>&nbsp;Create a class
                    </mat-option>
                    <mat-option (click)="openDialog('joinClass')">
                        <mat-icon style="vertical-align: text-top;">class</mat-icon>&nbsp;Join a class
                    </mat-option>
                    <mat-divider class="divider-container"></mat-divider>
                    <mat-option (click)="openDialog('all')">
                        <mat-icon style="vertical-align: text-top;">select_all </mat-icon>&nbsp;All Classes
                    </mat-option>
                </mat-select>
                <mat-icon (click)=select.open() class="pointer">more_horiz</mat-icon>
            </div>

            <div class="navigation-list list-group" *ngIf="classes.length > 0">
                <li class="list-group-item" class="nav-link" *ngFor="let classe of classes">
                    <a class="navigation-list-item" href="/groups/dsi-28607677">
                        <span class="circle"></span>
                        <span style="margin: 0px 0.5rem;">{{classe.className}}</span>
                    </a>
                </li>
            </div>
            <div class="spiner" *ngIf="groups.length ===0 && !isHiddenSpinner">
                <mat-spinner diameter="20" color="accent"></mat-spinner>
            </div>
            <div class="navigation-empty-list-item" *ngIf="classes.length ===0 && isHiddenSpinner">
                <mat-icon *ngIf="isProfessor">add</mat-icon>
                <span style="margin: 0px 0.5rem; vertical-align: top;" *ngIf="isProfessor" (click)="openDialog()">Add
                    New Class</span>
                <span style="margin: 0px 0.5rem; vertical-align: top;" *ngIf="!isProfessor"
                    (click)="openDialog('joinClass')">
                    <mat-icon style="vertical-align: text-top;">class</mat-icon>&nbsp;Join Class
                </span>
            </div>
        </div>

        <div class="navigation-list-container">
            <div class="navigation-list-header">
                <span class="navigation-list-title">My Groups</span>
                <mat-select #selectGroups class="select" style="visibility:hidden">
                    <mat-option (click)="openDialog('createGroup')" *ngIf="isProfessor">
                        <mat-icon style="vertical-align: text-top;">add </mat-icon>&nbsp;Create a group
                    </mat-option>
                    <mat-option (click)="openDialog('joinGroup')">
                        <mat-icon style="vertical-align: text-top;">group_add </mat-icon>&nbsp;Join a group
                    </mat-option>
                    <mat-divider class="divider-container"></mat-divider>
                    <mat-option (click)="openDialog('all')">
                        <mat-icon style="vertical-align: text-top;">select_all </mat-icon>&nbsp;All groups
                    </mat-option>
                </mat-select>
                <mat-icon (click)=selectGroups.open() class="pointer">more_horiz</mat-icon>
            </div>

            <div class="navigation-list list-group" *ngIf="groups.length > 0">
                <li class="list-group-item" class="nav-link" *ngFor="let group of groups">
                    <a class="navigation-list-item" href="#">
                        <span class="circle"></span>
                        <span style="margin: 0px 0.5rem;">{{group.groupName}}</span>
                    </a>
                </li>
            </div>
            <div class="spiner" *ngIf="groups.length ===0 && !isHiddenSpinner">
                <mat-spinner diameter="20" color="accent"></mat-spinner>
            </div>
            <div class="navigation-empty-list-item" *ngIf="groups.length ===0 && isHiddenSpinner">
                <mat-icon *ngIf="isProfessor">add</mat-icon>
                <span style="margin: 0px 0.5rem; vertical-align: top;" (click)="openDialog()" *ngIf="isProfessor">Add
                    New Group</span>
                <span style="margin: 0px 0.5rem; vertical-align: top;" *ngIf="!isProfessor"
                    (click)="openDialog('joinGroup')">
                    <mat-icon style="vertical-align: text-top;">group_add </mat-icon>&nbsp; Join Group
                </span>
            </div>
        </div>
    </div>


    <div fxFlex="48" class="stream-container">

        <!-- Add New Post Bloc-->
        <div class="unified-composer-container mb-3">
            <form (ngSubmit)="checkAndSavePost()" [formGroup]="formPost">
                <div class="input-text">
                    <img mat-card-avatar class="message-avatar rounded footer-card-comment-icon"
                        src="{{profilePictureLink}}" alt="cedro">
                    <textarea cols="60" placeholder="Share an idea or resources" class="postbox-textarea"
                        formControlName="description"></textarea>
                </div>
                <mat-divider></mat-divider>
                <div class="footer" fxLayout="row" fxFlexFill fxLayoutAlign="space-between stretch">
                    <div fxFlex="50">
                        <mat-icon (click)="postImgUpload.click()" style="cursor: pointer;">insert_photo</mat-icon>
                        <input type="file" #postImgUpload style="display: none" accept="image/jpg" multiple=""
                            (change)="upload($event,'post')" data-original-title="upload photos">
                        <mat-icon (click)="fileUpload.click()" style="cursor: pointer;">attach_file</mat-icon>
                        <input type="file" #fileUpload style="display: none" accept="image/jpg" multiple=""
                            (change)="upload($event,'post')" data-original-title="upload photos">
                    </div>
                    <div fxFlex="50">
                        <button mat-stroked-button color="primary" class="btn-post">Post</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- End Add New Post Bloc -->

        <!--Display Post Bloc-->
        <div>
            <mat-card class="example-card" *ngFor="let post of posts; let i = index;">
                <mat-card-header class="mat-card-header">
                    <div mat-card-avatar>
                        <img mat-card-avatar class="message-avatar rounded" src="{{post.user.profilePicture}}"
                            alt="Zayneb Hamila">
                    </div>
                    <mat-card-title style="font-size: medium;margin: 0 0 3px 0;">
                        {{post.user.firstName}} {{post.user.lastName}}
                    </mat-card-title>
                    <mat-card-subtitle>
                        <span class="post-title-style" *ngIf="isProfessor">Professor</span>
                        <span class="post-title-style" *ngIf="!isProfessor">Student</span>
                        <span style="font-size: small;"> - {{post.postDate |date:'dd-MM-yyyy hh:mm'}}</span>
                    </mat-card-subtitle>

                    <div>
                        <mat-icon (click)=select.open() class="pointer">more_horiz</mat-icon>
                        <mat-select #select class="post-select" style="visibility:hidden">
                            <mat-option (click)="openDialog('editPost',post)">Edit the publication</mat-option>
                            <mat-option (click)="openDialog('deletePost',post,i)">Delete</mat-option>
                        </mat-select>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <p style="font-size: 1.5em;"> {{post.description}} </p>
                </mat-card-content>
                <div class="spiner" *ngIf="post.postPicture && !isHiddenSpinner">
                    <mat-spinner diameter="20" color="accent"></mat-spinner>
                </div>
                <img mat-card-image src="{{post.postPicture}}" alt="Photo" *ngIf="post.postPicture">
                <mat-divider></mat-divider>
                <mat-card-actions class="mat-card-action">
                    <button mat-button class="footer-card-btn" (click)="addLike(post)">
                        <mat-icon [class.blue]="isLiked(post)" class="footer-card-icon">thumb_up</mat-icon>
                        <span class="footer-card-btn-like" [class.blue]="isLiked(post)">{{getLikesLabel(post)}}</span>
                    </button>
                    <button mat-button class="footer-card-btn">
                        <mat-icon class="footer-card-icon">insert_comment</mat-icon>
                        <span class="footer-card-btn-like" (click)="showHiddenComment(i)">Comment</span>
                    </button>
                </mat-card-actions>
                <mat-divider></mat-divider>
                <mat-card-footer class="mat-card-footer">
                    <div class="footer-card-mat-card-comment">
                        <div class="mat-card-comment-display" *ngFor="let comment of post.comments">
                            <img class="message-avatar rounded footer-card-comment-icon" src="{{profilePictureLink}}"
                                alt="Zayneb Hamila">
                            <section class="mat-card-comment-text"
                                matTooltip=" {{comment.commentDate|date:'dd-MM-yyyy hh:mm'}}">
                                <p class="comment-text-user">{{comment.user.firstName}}
                                    {{comment.user.lastName}}&nbsp;
                                    <span class="comment-text">{{comment.message}} </span></p>
                            </section>
                        </div>
                    </div>

                    <div class="footer-card-mat-card-avatar" [hidden]="isHiddenComment[i]">
                        <img class="message-avatar rounded footer-card-comment-icon" src="{{profilePictureLink}}"
                            alt="Zayneb Hamila">
                        <div class="mat-card-comment">
                            <textarea [value]="state[i] && state[i].text ? state[i].text : ''" cols="60"
                                [(ngModel)]="defaultValue[i]" class="mat-card-comment-input" matInput type="text"
                                (keyup.enter)="saveComment($event,post, i)" placeholder="your comment..."></textarea>
                            <emoji-mart [style]="{ position: 'absolute', bottom: '20px', right: '20px' }"
                                (emojiClick)="addEmoji($event, i)" [hidden]="!(show[i] && show[i]===true)"></emoji-mart>
                            <mat-icon class="mat-card-comment-emoj" (click)="show[i]=!show[i]">sentiment_satisfied_alt
                            </mat-icon>
                            <mat-icon class="mat-card-comment-emoj" (click)="imgUpload.click()">photo_camera</mat-icon>
                            <input type="file" #imgUpload style="display: none" accept="image/jpg" multiple=""
                                (change)="upload($event,'commnet')" data-original-title="upload photos">
                        </div>
                    </div>
                </mat-card-footer>
            </mat-card>
            <mat-card class="card-post-footer">
                <mat-card-content>All publications have been loaded </mat-card-content>
            </mat-card>
        </div>
        <!--End Display Post Bloc-->
    </div>

    <div fxFlex="28" class="right-column-container">xxx</div>
</div>