<div class="new-landing-page-container">
    <div class="landing-page-navbar">
        <div class="landing-page-navbar-container container">
            <div class="d-flex align-items-center">
                <div class="branding navbar-brand" routerLink="/">
                    <mat-icon class="title-icon">school</mat-icon> &nbsp;
                    <span>EPS</span>
                </div>
                <div class="branding navbar-brand">
                    <span class="nav-bar-label">Support</span>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <div class="branding navbar-brand">
                    <a class="landing-page-navbar-link" href="/login"><span>Log In</span></a>
                    <a class="landing-page-navbar-link sign-up-btn" href="/signup"><span>Sign Up</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="view-port container">
        <img src="https://a.edim.co/images_v2/landing/rebrand/Edmodo_HeroImageCommunication@1x.png" alt="" class="landing-page-illustration" style="margin-right: 90px;">
    </div>

</div>