<div id="forms" class="page-layout" fxLayout="column" [ngSwitch]="true">

  <ng-template [ngSwitchCase]="action === 'create'|| action ==='update'">
    <!-- HEADER -->
    <span class="header-left" *ngIf="action==='create'">Add New User</span>
    <span class="header-left" *ngIf="action==='update' && selectedTabIndex===0">Update Administration</span>
    <span class="header-left" *ngIf="action==='update' && selectedTabIndex===1">Update Professor</span>
    <span class="header-left" *ngIf="action==='update' && selectedTabIndex===2">Update Student</span>
    <mat-divider class="header-divider"></mat-divider>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
      <!-- REACTIVE FORM EXAMPLE -->

      <mat-tab-group dynamicHeight (selectedTabChange)="changeTab($event)" [(selectedIndex)]="selectedTabIndex">

        <mat-tab label="Administration" [disabled]="selectedTabIndex!==0 && action ==='update'">
          <ng-container *ngTemplateOutlet="administrationTabForm"></ng-container>
        </mat-tab>

        <mat-tab label="Professor" [disabled]="selectedTabIndex!==1 && action ==='update'">
          <ng-container *ngTemplateOutlet="professorTabForm"></ng-container>
        </mat-tab>

        <mat-tab label="Student" [disabled]="selectedTabIndex!==2 && action ==='update'">
          <ng-container *ngTemplateOutlet="studentTabForm"></ng-container>
        </mat-tab>
      </mat-tab-group>
    </div>
    <!-- / CONTENT -->
  </ng-template>

  <ng-template [ngSwitchCase]="action === 'delete'">
    <div class="modal-header">
      <strong>
        <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
      </strong>
    </div>
    <div class="modal-body">
      Do you want to delete this User ?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" data-dismiss="modal" (click)="onNoClick()">Cancel </button>
      <button type="button" class="btn btn-danger" (click)="delete()" cdkFocusInitial>Confirm</button>
    </div>
  </ng-template>
</div>

<!--Student Form-->
<ng-template #administrationTabForm>
  <form (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="space-between" fxFlex="1 0 auto" name="form"
    [formGroup]="administrationForm">
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
      <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" required>
        <mat-icon matSuffix class="secondary-text">class</mat-icon>
        <mat-error>First Name is required!</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
      <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" required>
        <mat-icon matSuffix class="secondary-text">toc</mat-icon>
        <mat-error>Last Name is required!</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
      <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
        <mat-icon matSuffix class="secondary-text">toc</mat-icon>
        <mat-error>Email is required!</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
      <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
        <mat-label>Adresse</mat-label>
        <input matInput formControlName="address" required>
        <mat-icon matSuffix class="secondary-text">toc</mat-icon>
        <mat-error>Adresse is required!</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
      <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phoneNumber" required>
        <mat-icon matSuffix class="secondary-text">toc</mat-icon>
        <mat-error>Phone Number is required!</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="form-footer">
      <button mat-raised-button [disabled]="!administrationForm.valid" color="primary" class="btn-save">
        <mat-icon>save</mat-icon> save
      </button>
      <button mat-raised-button class="btn btn-success" (click)="onNoClick()">
        <mat-icon>cancel</mat-icon> Cancel
      </button>
    </div>
  </form>
</ng-template>

<!--Profesor Form-->
<ng-template #professorTabForm>
  <form (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="space-between" fxFlex="1 0 auto" name="form"
    [formGroup]="professorForm">
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
      <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" required>
        <mat-icon matSuffix class="secondary-text">class</mat-icon>
        <mat-error>First Name is required!</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
      <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" required>
        <mat-icon matSuffix class="secondary-text">toc</mat-icon>
        <mat-error>Last Name is required!</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
      <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
        <mat-icon matSuffix class="secondary-text">toc</mat-icon>
        <mat-error>Email is required!</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
      <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
        <mat-label>Adresse</mat-label>
        <input matInput formControlName="address" required>
        <mat-icon matSuffix class="secondary-text">toc</mat-icon>
        <mat-error>Adresse is required!</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
      <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phoneNumber" required>
        <mat-icon matSuffix class="secondary-text">toc</mat-icon>
        <mat-error>Phone Number is required!</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="form-footer">
      <button mat-raised-button [disabled]="!professorForm.valid" color="primary" class="btn-save">
        <mat-icon>save</mat-icon> save
      </button>
      <button mat-raised-button class="btn btn-success" (click)="onNoClick()">
        <mat-icon>cancel</mat-icon> Cancel
      </button>
    </div>
  </form>
</ng-template>

<!--Student Form-->
<ng-template #studentTabForm>
  <form (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="space-between" fxFlex="1 0 auto" name="form"
    [formGroup]="studentForm">

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Educational Institutions</mat-label>
        <mat-select formControlName="establishment" required>
          <mat-option *ngFor="let establishment of educationalInstitutions" [value]="establishment.id">
            {{establishment.establishmentName}}
          </mat-option>
        </mat-select>
        <mat-icon matSuffix class="secondary-text">collections_bookmark</mat-icon>
        <mat-error>Educational Institutions is required!</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
      <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" required>
        <mat-icon matSuffix class="secondary-text">class</mat-icon>
        <mat-error>First Name is required!</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
      <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" required>
        <mat-icon matSuffix class="secondary-text">toc</mat-icon>
        <mat-error>Last Name is required!</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
      <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
        <mat-icon matSuffix class="secondary-text">toc</mat-icon>
        <mat-error>Email is required!</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
      <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
        <mat-label>Adresse</mat-label>
        <input matInput formControlName="address" required>
        <mat-icon matSuffix class="secondary-text">toc</mat-icon>
        <mat-error>Adresse is required!</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
      <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phoneNumber" required>
        <mat-icon matSuffix class="secondary-text">toc</mat-icon>
        <mat-error>Phone Number is required!</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="form-footer">
      <button mat-raised-button [disabled]="!studentForm.valid" color="primary" class="btn-save">
        <mat-icon>save</mat-icon> save
      </button>
      <button mat-raised-button class="btn btn-success" (click)="onNoClick()">
        <mat-icon>cancel</mat-icon> Cancel
      </button>
    </div>
  </form>
</ng-template>