<script>
    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
</script>

<!-- main -->
<div class="w3layouts-main">
    <div class="bg-layer">
        <mat-icon routerLink="/login" class="pointer" *ngIf="!activatedKeyStat">keyboard_arrow_left</mat-icon>

        <h1 *ngIf="!activatedKeyStat">Educational Personal Space Sign Up</h1>
        <h1 *ngIf="activatedKeyStat">Educational Personal Space Activation</h1>

        <div class="header-main">
            <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
                <div class="main-icon" [class.activation-main-icon]="activatedKeyStat">
                    <span class="fa fa-graduation-cap" aria-hidden="true"></span><br>
                    <span [class.activation-msg]="activatedKeyStat" *ngIf="activatedKeyStat">Congratulations, your
                        account has been activated!</span>
                </div>
                <div *ngIf="error" class="alert alert-danger signup-error">{{error}}</div>
                <div *ngIf="isSignup" class="alert alert-success signup-success">You Are Successfully Registered</div>
                <div class="header-left-bottom" *ngIf="!activatedKeyStat">
                    <mat-button-toggle-group name="fontStyle" formControlName="role" color="accent"
                        aria-label="Font Style" class="mat-button-toggle-groupe"
                        [ngClass]="{ 'is-invalid': submitted && form.role.errors }">
                        <mat-button-toggle value="professor" class="mat-button-toggle-small">Professor
                        </mat-button-toggle>
                        <mat-button-toggle value="administration" class="mat-button-toggle-large">Administration
                        </mat-button-toggle>
                        <mat-button-toggle value="student" class="mat-button-toggle-small">Student</mat-button-toggle>
                    </mat-button-toggle-group>

                    <div class="icon1">
                        <span class="fa fa-id-card"></span>
                        <input type="text" placeholder="First Name" required="" formControlName="firstName"
                            [ngClass]="{ 'is-invalid': submitted && form.firstName.errors }" />
                    </div>
                    <div *ngIf="submitted && form.firstName.errors" class="invalid-feedback">
                        <div *ngIf="form.firstName.errors.required">fisrtName is required</div>
                    </div>

                    <div class="icon1">
                        <span class="fa fa-address-card"></span>
                        <input type="text" placeholder="Last Name" required="" formControlName="lastName"
                            [ngClass]="{ 'is-invalid': submitted && form.lastName.errors }" />
                    </div>
                    <div *ngIf="submitted && form.lastName.errors" class="invalid-feedback">
                        <div *ngIf="form.lastName.errors.required">lastName is required</div>
                    </div>

                    <div class="icon1">
                        <span class="fa fa-user"></span>
                        <input type="email" placeholder="Email Address" required="" formControlName="email"
                            [ngClass]="{ 'is-invalid': submitted && form.email.errors }" />
                    </div>
                    <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
                        <div *ngIf="form.email.errors.required">email is required</div>
                    </div>
                    <div class="icon1">
                        <span class="fa fa-lock"></span>
                        <input type="password" placeholder="Password" formControlName="password" required=""
                            [ngClass]="{ 'is-invalid': submitted && form.password.errors }" />
                    </div>
                    <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
                        <div *ngIf="form.password.errors.required">Password is required</div>
                    </div>
                    <div class="login-check">
                        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Keep me
                            logged in</label>
                    </div>
                    <div class="bottom">
                        <button class="btn" [disabled]="!signupForm.valid">SIGN UP</button>
                    </div>

                </div>
                <div class="activation" *ngIf="activatedKeyStat">
                    <button class="bottom-activation" routerLink="/login">Done</button>
                </div>
            </form>
        </div>

        <!-- copyright -->
        <div class="copyright">
            <p>© 2019 Eps . All rights reserved
            </p>
        </div>
        <!-- //copyright -->
    </div>
</div>
<!-- //main -->