.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1e2129!important;
    color: #fff!important;
    width: 100%;
}
