<mat-toolbar>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-evenly center" fxFlex>

        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
            <span fxFlex="0 0 auto" fxLayout="row">EPS</span>&nbsp;
            <mat-icon class="s-16 mr-sm-4">copyright</mat-icon>
            <span>&nbsp;2019&nbsp;Cedro Technologies </span>

        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
            <a mat-button routerLink="facebook.com">
                <mat-icon svgIcon="facebook"></mat-icon>
            </a>
            <a mat-button routerLink="linkedin.com">
                <mat-icon svgIcon="linkedin"></mat-icon>
            </a>

            <a mat-button routerLink="twitter.com">
                <mat-icon svgIcon="twitter"></mat-icon>
            </a>
            <a mat-button routerLink="youtube.com">
                <mat-icon svgIcon="youtube"></mat-icon>
            </a>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
            <a mat-button routerLink="https://www.cedrotech.com/">www.cedrotech.com</a>
            <span>&bull;</span>
            <a mat-button routerLink="/">Commercial 11 3014-0200 | 34 3239-0057</a>&nbsp;
            <!--<img class="flag mr-8" src="assets/icons/social/eps50.png">-->
            <mat-icon svgIcon="eps"></mat-icon>
        </div>
    </div>
</mat-toolbar>